* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  height: 100vh;
  background-image: url(assets/background-image.png);
  background-size: cover;

  color: white;

  display: flex;
  justify-content: center; 
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 8px 0 3px 0;
}

h3 {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  color: white;
}

.contador-pomodoro {
  height: 82%;
  width: 100vw;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.estudando, .descansando {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 40%;
  height: 75%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(212, 212, 212);
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  margin-top: 11px;
  background-color: rgb(255, 255, 255);
  padding: 7px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 100px;
}

.display-none {
  display: none;
}

input {
  text-align: center;
  font-size: 1.6rem;
  background-color: transparent;
  color: white;
  width: 3.2rem;
  height: 2.35rem;
  outline: none;
  border-left: 1px solid rgb(75, 75, 75);
  border-top: 1px solid rgb(75, 75, 75);
  border-right: 1px solid rgb(37, 37, 37);
  border-bottom: 1px solid rgb(37, 37, 37);
}

span {
  cursor: pointer;
  position: absolute;
  font-size: 1.8rem;
  margin-left: 10px;
  font-weight: 800;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 900px) {
  .contador-pomodoro {
    flex-direction: column;
  }

  .estudando, .descansando {
    width: 80%;
    height: 49%;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 85%;
  }
}

@media (max-width: 340px) {
  body {
    font-size: 75%;
  }
}